<% extend('layout') %>
    <section>
        <div class="menu">
            <%- include('menu') -%>
        </div>
        <div class="content">indhold</div>
    </section>
    <p class="clearBoth">Ja,det er så galleriet hvor du kan se billeder!</p>