<p>Fotoalbums</p>
<ul>
    <li><a href="/">Velkommen</a></li>
    <li><a href="/galleri/1">Færøerne</a></li>
    <li><a href="/galleri/2">Berlin</a></li>
    <li><a href="/galleri/3">Nytår</a></li>
</ul>